################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/DevFreela.API
/DevFreela.Application
/DevFreela.Core
/DevFreela.Infrastructure
